$dark: rgb(28, 150, 189);
$light: rgb(183, 238, 248);

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(127, 193, 224);
}

* {
    vertical-align: top;
}

header {
    height: 40px;
    margin-bottom: 50px;
    background: $dark;

    .nav {
        color: #FFF;
        width: 960px;
        margin: 0 auto;
        font-size: 24px;
        font-weight: lighter;
        line-height: 40px;
    }
}

.wrapper {
    width: 960px;
    margin: 0 auto;

    .chess-board {
        width: 640px;
        height: 640px;
        border: 4px solid #1c96bd;
        margin: 0 52px 90px 0;
        position: relative;
        display: inline-block;
    }
    
    .square {
        width: 12.5%;
        height: 12.5%;
        position: absolute;
    }

    .side-bar {
        width: 260px;
        height: 640px;
        // background: red;
        display: inline-block;

        .notation {
            // height: 25%;
            height: 160px;
            margin-bottom: 20%;
            background: $dark;
            border-radius: 0 0 10px 10px;
            position: relative;

            
            .last-move {
                height: 75%;
                color: #FFF;
                font-size: 66px;
                font-weight: lighter;
                line-height: 120px;
                text-align: center;
            }

            .all-moves {
                position: absolute;
                // overflow scoll on .single-move-view will not work with bottom: 0;
                bottom: 0;
            }
        }

        .captured-pieces {
            height: 25%;
            border: 4px solid $dark;
            border-radius: 4px;

            div {
                height: 48.5%;
                background: $light;
            }

            .white {
               border-bottom: 4px solid $dark; 
            }
        }
    }
}

.single-move-view {
    // height: 25%;
    height: 40px;
    background: $light;
    border: 4px solid $dark;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    // overflow: scroll;
}

.move {
    height: 36px;
    font-size: 22px;
    position: relative;
    font-weight: 200;
    display: block;

    span {
        position: absolute;
        line-height: 30px;
        display: inline-block;
    }

    .number {
        right: -40px;
    }
    .white-move {
        left: 50px;
    }
    .black-move {
        left: 150px;
    }
}

.captured {
    display: inline-block;
}



.promote {
    width: 100px;
    height: 100px;
    position: absolute;
    background: red;
}

.promotion-view {
    width: 50%;
    height: 16%;
    position: absolute;
    top: 41.5%;
    left: 24.3%;
    background: rgba(183, 238, 248, 0.7);
    border: 4px solid rgb(0, 0, 0);
    z-index: 200;
}

.promote {
    width: 29%;
    height: 80%;
    margin: 2.2%;
    position: absolute;
    display: inline-block;
    background-size: cover;
}
